body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

/* ========================================================================================================================================================
common
======================================================================================================================================================== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px 0 15px;
  }
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ========================================================================================================================================================
Header
======================================================================================================================================================== */
.hader-container {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hader-list {
  display: none;
}

.hader-address {
  display: none;
}

.hader-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.hader-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.hader-logo-text {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.menu-btn-mob {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: transparent;
  border: none;
}

.menu-icon {
  fill: #2f2f37;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hader-container {
    max-width: 768px;
    max-height: 72px;
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    background: var(--WHITE, #fff);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }

  .menu-btn-mob {
    display: none;
  }

  .hader-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .hader-menu-item {
    color: #2e2f42;
  }

  .hader-menu-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0px;
    display: block;
    font-weight: 500;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hader-menu-item-link-first {
    color: #404bbf;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0px;
    display: block;
    position: relative;
    font-weight: 500;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hader-menu-item:hover,
  .hader-menu-item:focus {
    color: #404bbf;
  }

  .hader-menu-item-link-first::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    content: "";
    background-color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hader-address {
    display: flex;
  }

  .hader-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .hader-address-item-link {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hader-address-item-link:hover,
  .hader-address-item-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .hader-container {
    max-width: 1440px;
    height: 72px;
    box-shadow: none;
    padding: 0;
  }

  .hader-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .hader-address-item-link {
    display: block;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ========================================================================================================================================================
header-mob-menu
======================================================================================================================================================== */
.menu-header-mob {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-header-mob.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-mob {
  display: block;
  min-width: 320px;
  min-height: 640px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 24px 40px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-header-form {
  max-width: 320px;
  margin-top: 24px;
}
.menu-btn-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-icon {
}
.menu-mob-list {
}
.mob-menu-item {
}
.mob-menu-item-link-first {
}
.mob-menu-item-link {
}
.mob-menu-address {
}
.mob-address-list {
}
.mob-address-item {
}
.mob-address-item-link {
}
/* ========================================================================================================================================================
Section 1 - hero
======================================================================================================================================================== */

.hero-container {
  text-align: center;
}

.hero {
  max-width: 320px;
  /* padding: 72px 0; */
  background-color: #2e2f42;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/Dark-bg-mob.jpg");
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-mob@2x.jpg");
  }
}

.hero-title {
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
  color: #fff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
}

.hero-button {
  background-color: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-tab.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/Dark-bg-tab@2x.jpg");
    }
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-desk.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/Dark-bg-desk@2x.jpg");
    }
  }

  .hero-title {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}

/* ========================================================================================================================================================
Section 2 - advantages-company
======================================================================================================================================================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-company {
  padding: 96px 24px;
}

.advantages-company-item {
  width: 288px;
}

.advantages-company-item-icon {
  display: none;
}

.advantages-company-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}

.advantages-company-item-title {
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  font-weight: 700;
}

.advantages-company-item-text {
  align-self: stretch;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .advantages-company-container {
    max-width: 768px;
  }
  .advantages-company-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .advantages-company-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-company-item-title {
    font-weight: 700;
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-company-container {
    max-width: 1158px;
  }

  .advantages-company-item-icon {
    display: flex;
  }

  .advantages-company-item-icon-container {
    display: flex;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .advantages-company-list {
    display: flex;
    gap: 24px;
  }
  .advantages-company-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .advantages-company-item-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    font-weight: 500;
  }

  .advantages-company-item-text {
    align-self: stretch;
    font-weight: 400;
  }
}

/* ========================================================================================================================================================
Section 3 - team-company
======================================================================================================================================================== */

.team-company {
  background-color: #f4f4fd;
}

.team-company-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  font-weight: 700;
}

.team-company-list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-company-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  justify-content: center;
  align-items: center;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-company-img {
  display: block;
  max-width: 100%;
}

.team-company-item-title {
  font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}
.team-company-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
}

.team-company-item-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}

.team-company-item-link:hover,
.team-company-item-link:focus {
  background-color: #404bbf;
}

.team-company-item-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-company-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
  }

  .team-company-img {
    height: auto;
    display: block;
    width: 100%;
  }

  .team-company-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-company-container {
    max-width: 1158px;
  }

  .team-company-list {
    width: 1158px;
    display: flex;
    gap: 24px;
  }
  .team-company-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .team-company-img {
    display: block;
    width: 100%;
  }
}

/* ========================================================================================================================================================
Section 4 - portfolio-company
======================================================================================================================================================== */
.portfolio-company-list {
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.overlay-text {
  display: none;
}

.portfolio-company-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-company-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
}

.portfolio-company-item {
  max-width: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border: 1px solid #f4f4fd;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-company-item-title {
  font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-company-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.content-portfolio-company-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .portfolio-company-list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-company-item {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-company-item:hover,
  .portfolio-company-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-company-item-overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay-text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
  }

  .portfolio-company-img {
    overflow: clip;
  }

  .portfolio-company-item:hover .overlay-text {
    transform: translateY(0);
  }
}

@media screen and (min-width: 1158px) {
  .company-portfolio {
    max-width: 1158px;
  }

  .portfolio-company-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }

  .portfolio-company-list {
    width: 1158px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-company-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-company-item-title {
    font-weight: 500;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .portfolio-company-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .content-portfolio-company-container {
    padding: 0 16px;
    flex-grow: 1;
    margin-bottom: 32px;
  }
}

/* ========================================================================================================================================================
Backdrop
======================================================================================================================================================== */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  max-width: 320px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-title {
  max-width: 256px;
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.textarea-form {
  margin-bottom: 16px;
}

.modal-imput {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  height: 40px;
  background-color: inherit;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-imput:focus {
  border-color: #4d5ae5;
}

.modal-imput:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-feild {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
}

.modal-text {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  height: 120px;
  background-color: inherit;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  color: #8e8f99;
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  max-width: 256px;
  font-weight: 400;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

.label-span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  line-height: 1.3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-link {
  color: #4d5ae5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.checkbox-item:checked + .label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-check-label {
  display: flex;
  gap: 8px;
}

.label-text {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 798px) {
  .modal {
    min-width: 408px;
    min-height: 584px;
    flex-shrink: 0;
  }
  .modal-title {
    min-width: 360px;
  }
  .modal-checkbox {
    display: flex;
    min-width: 360px;
  }
  .label-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
